# Ignore Python virtual environment
.venv/

# Bytecode
__pycache__/
*.pyc

# IDE/editor configs
.vscode/
.idea/

# Environment variables and configs
.env
.backup.json

# Allow these
!requirements.txt
!src/
